* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navebar {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid black;
  gap: 20px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
}
.navebar__s1__title {
  color: #2c3e50;
}
.navebar__s2 {
  padding: 10px;
  border: solid 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navebar__s2 input {
  border: none;
  font-size: 16px;
  width: 75%;
}
.navebar__s2 input:focus {
  outline: none;
}
.navebar__s3 {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
/* my learning */
.mylearning{position: relative;
cursor: pointer;}
.learning__popup{position: absolute;
background-color: white;
border: solid black 2px;
padding: 20px;
width: 100px;
top: 30px;
border-radius: 10px;
display: none;}
.mylearning:hover .learning__popup{
  display: block;
}
.categories {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: #F4F6F7;
  flex-wrap: wrap;
 
}
.categories p {
  background-color: #2C3E50	;
  color: white;
  padding: 10px;
  border-radius: 30px;margin-top: 1%;
}
.simg img {
  width: 100%;
}
.recommended {
  padding: 10px;
}
.recommended__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}
.course-card {
  width: 350px;
}
.course-card img {
  width: 100%;
  height: 50%;
}
.course-card h3 {
  width: 100%;
  height: 20%;
}
.course-card p {
  width: 100%;
  height: 10%;
}
.topics {
  padding: 10px;
}
.topics__container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.topics__container p {
  padding: 10px;
  border: solid gray 2px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular {
  padding: 10px;
}
.poular__container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.fotter{padding: 30px;
background-color: #F4F6F7;
color: #2C3E50;}
.fotter__1{display: flex;gap: 10px;}
.fotter__1 p{margin: 20px;color: #2C3E50;}
.fotter__2{display: flex;justify-content: space-between;margin: 20px;align-items: center;
color: #2C3E50;}